<h1>All the Artists</h1>

<table class="striped bordered">
  <tr>
    <th>Artist</th>
    <th>Albums</th>
    <th>Hometown</th>
  </tr>

  <% @artists.each do |artist| %>
      <tr>
        <td><%= link_to artist.name, artist_path(artist.id) %></td>
        <td><%= artist.albums %></td>
        <td><%= artist.hometown %></td>
      </tr>
  <% end %>
</table>
