<h1><%= @artist.name %> Songs</h1>
<%= link_to "New Song", songs_new_path(:artist_id => @artist.id), { :class => "button waves-effect waves-light btn" } %>

<table class="striped bordered">
  <tr>
    <th>Title</th>
    <th>Genre</th>
  </tr>

  <% @songs.each do |song| %>
      <tr>
        <td><%= song.title %></td>
        <td><%= song.genre %></td>
      </tr>
  <% end %>
</table>